.footer__columns {
    width: 880px;
    display: flex;
    justify-content: start;
    align-content: flex-start;
}

@media screen and (max-width:910px) {
    .footer__columns {
        width: 90%;
    }
}

@media screen and (max-width:320px) {
    .footer__columns {
        width: 282px;
    }
}