.header__line {
    background-image: url(../../../images/line__header.svg);
    width: 880px;
    height: 0px;
    background-size: cover;
    opacity: 0.7;
    border: 1px solid #545454;
}

@media screen and (max-width:910px) {
    .header__line {
        width: 100%;
    }
}
