.header__rows {
    width: 880px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 45px;
}

@media screen and (max-width:910px) {
    .header__rows {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .header__rows {
        height: 56px;
        padding-top: 28px;
    }
}