.profile__info {
    display: grid;
    height: 75px;
    grid-template-areas:
    "profile__title profile__button"
    "profile__subtitle profile__subtitle";
    column-gap: 18px;
    row-gap: 16px;
    margin-right: 244px;
}